/*general*/
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1,h2,h3,ul {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
:root {
   --primary-text-color: #757575;
   --secondary-text-color: #212121;
   --main-title-text-color: #ffffff;
   --title-text-color: #000000;
   --accent-color: #2196F3;
   --background-color: #2F303A;
   --filter-button-color: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
/*hero*/
.hero {
    background-color: var(--background-color);
}
/*links*/
a:hover,
a:focus {
    color: var(--accent-color);
}
.header-link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: var(--secondary-text-color);
}

.header-link {
    margin-right: 50px;
}

.current {
    color: var(--accent-color);
}

.projects-link {
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--secondary-text-color);
    background-color: var(--filter-button-color);
    height: 26px;
}

.footer-address-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-title-text-color);

}
.footer-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/*button*/
.button {
    display: inline-block;
    font-family: inherit; 
    font-weight: 700;
    background-color: var(--accent-color);
    color: var(--main-title-text-color);
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}  

.button:hover,
.button:focus {  
    background-color: var(--filter-button-color);
    color: var(--secondary-text-color);
    }

/*site-titles*/
.main-title {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;  
    color: var(--main-title-text-color);
}
        
.advantages-title {
    font-family: Roboto; sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);

    padding-bottom: 10px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

    padding-bottom: 50px;
}

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);

    margin-top: 20px;
}
/*team*/
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

    padding-top: 30px;
    padding-bottom: 10px;
}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    padding-bottom: 30px;
    margin: 0;

}
/*footer*/
footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    background: var(--background-color)
}

/*arrangement of elements*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;
}
header>.container.header-nav {
    display: flex;
    padding-top: 0px;
    align-items: center;
}

.list-nav {
    display: flex;
    align-items: center;
}
.logo {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 93px;
}
.mail-link {
    display: flex;
    /* margin-top: 32px; */
    /* margin-bottom: 32px; */
     
}
.header-link:first-child {
    margin-left: 0;
}


.advantages-title-margin {
    margin-bottom: 0;
    margin-top: 0;
}
.project-item {
    margin-top: 4px;
    margin-bottom: 20px;
}
.project-item:last-child {
    margin-bottom: 0px;
}
.site-nav {
    display: flex;
    /* padding-top: 32px; */
    /* padding-bottom: 32px; */
}
.site-nav>li {
    margin-right: 8px;
}
.projects-link:last-child {
    margin-right: 0px;
}


/* delete */


.advantages .container {
    background-color: blue;
}

.services .container {
    background-color: tomato;
}
.team .container {
    background-color: chartreuse;
}
.portfolio .container  {
    background-color: coral;